dz1
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e5e1de8.d19be4","type":"inject","z":"31332582.eedb62","name":"Noda One","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":40,"wires":[["44fe9776.3d23a8"]]},{"id":"bcbc29f3.a6a1f8","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":520,"wires":[]},{"id":"44fe9776.3d23a8","type":"function","z":"31332582.eedb62","name":"Код","func":"msg.headers = {\n    sid : \"191018csa1qjubvc4alj\"\n}\nmsg.ref = \"190827PBNKI000000001247\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["346a2f86.6760d"]]},{"id":"346a2f86.6760d","type":"http request","z":"31332582.eedb62","name":"Вызов АПИ Получения и-и по референсу","method":"GET","ret":"txt","paytoqs":false,"url":"https://odb.privatbank.ua:10520/vk_server/doc/vKDocument/?bdc_ref={{ref}}","tls":"","proxy":"","authType":"","x":430,"y":160,"wires":[["f74b5da4.6f188"]]},{"id":"92d0db3f.2855c8","type":"function","z":"31332582.eedb62","name":"Тянем дату регистрации","func":"var GGGG = msg.payload.bdc_dat_i.slice(0,4);\nvar MM = msg.payload.bdc_dat_i.slice(5,7);\nvar DD = msg.payload.bdc_dat_i.slice(8,10);\nmsg.date = DD + \".\" + MM + \".\" + GGGG; \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["9a93dc63.b7d8e"]]},{"id":"f74b5da4.6f188","type":"json","z":"31332582.eedb62","name":"","property":"payload","action":"","pretty":false,"x":430,"y":220,"wires":[["92d0db3f.2855c8"]]},{"id":"9a93dc63.b7d8e","type":"http request","z":"31332582.eedb62","name":"АПИ Курса валют","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.privatbank.ua/p24api/exchange_rates?json&date={{date}}","tls":"","proxy":"","authType":"","x":430,"y":340,"wires":[["1ad2c63d.90aa6a"]]},{"id":"93db78ae.835918","type":"function","z":"31332582.eedb62","name":"Записываем переменные","func":"for(var i = 0; i < msg.payload.exchangeRate.length; i++){\n    if(msg.payload.exchangeRate[i].currency == \"USD\"){\n        msg.HW1 = msg.payload.exchangeRate[i].saleRate\n    }\n}\nmsg.DateHW1 = msg.headers.date;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["bcbc29f3.a6a1f8"]]},{"id":"1ad2c63d.90aa6a","type":"json","z":"31332582.eedb62","name":"","property":"payload","action":"","pretty":false,"x":430,"y":400,"wires":[["93db78ae.835918"]]}]
